#gs###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[project]
eggs-directory=${buildout:directory}/../../eggs/cache
develop-eggs-directory=${buildout:directory}/develop-eggs
directory=${buildout:directory}/../../
dependencies=${buildout:directory}/../../dependencies
parts =
    part
    ez
[buildout]
python = python2.4
versions = versions
executable = python2.4
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
parts-directory = ${parts:directory}
eggs-directory = ${project:eggs-directory}
develop-eggs-directory = ${project:develop-eggs-directory}
develop =
    src/minitage.recipe.cmmi
    src/minitage.recipe.utils
    src/minitage.recipe.du
[python2.4]
executable=${project:dependencies}/python-2.4/part/bin/python
name=python2.4
[python2.5]
executable=${project:dependencies}/python-2.5/part/bin/python
name=python2.4 
[versions]
hexagonit.recipe.cmmi = 1.1.1
hexagonit.recipe.download = 1.2.0
setuptools = 0.6c8
[parts]
directory=${buildout:directory}
[ncurses]
location=${project:dependencies}/ncurses-5.6/part
include=${project:dependencies}/ncurses-5.6/part/include
lib=${project:dependencies}/ncurses-5.6/part/lib
[bzip2]
location=${project:dependencies}/bzip2-1.0/part
include=${project:dependencies}/bzip2-1.0/part/include
lib=${project:dependencies}/bzip2-1.0/part/lib
[readline]
location=${project:dependencies}/readline-5.2/part
include=${project:dependencies}/readline-5.2/part/include
lib=${project:dependencies}/readline-5.2/part/lib
[zlib]
location=${project:dependencies}/zlib-1.2/part
include=${project:dependencies}/zlib-1.2/part/include
lib=${project:dependencies}/zlib-1.2/part/lib
[python]
location=${project:dependencies}/python-2.5/part
include=${project:dependencies}/python-2.5/part/include
lib=${project:dependencies}/python-2.5/part/lib
executable=${project:dependencies}/python-2.4/part/bin/python
name=python2.5
[db]
location=${project:dependencies}/db-4.4/part
include=${project:dependencies}/db-4.4/part/include
lib=${project:dependencies}/db-4.4/part/lib
[openssl]
location=${project:dependencies}/openssl-0.9/part
include=${project:dependencies}/openssl-0.9/part/include
lib=${project:dependencies}/openssl-0.9/part/lib
[expat]
location=${project:dependencies}/expat-2.0/part
include=${project:dependencies}/expat-2.0/part/include
lib=${project:dependencies}/expat-2.0/part/lib
[flags]
ldflags=-L${expat:lib} -Wl,-rpath -Wl,${expat:lib} -L${db:lib} -Wl,-rpath -Wl,${db:lib} -L${ncurses:lib} -L${ncurses:lib}/ncurses -L${bzip2:lib} -L${readline:lib} -L${zlib:lib} -Wl,-rpath -Wl,${ncurses:lib} -Wl,-rpath -Wl,${ncurses:lib}/ncurses -Wl,-rpath -Wl,${bzip2:lib} -Wl,-rpath -Wl,${readline:lib} -Wl,-rpath -Wl,${zlib:lib} -Wl,-rpath -Wl,${python:lib} -Wl,-rpath -Wl,${python:lib}/python2.5/lib-dynload -Wl,-rpath -Wl,${openssl:lib} -L${openssl:lib} -lssl -lcrypto -lbz2 -lz -ldb -lncurses -lreadline -lhistory -lmenu -lform -lpanel -lexpat
cflags=-I${db:include} -I${ncurses:include} -I${ncurses:include}/ncurses -I${bzip2:include} -I${readline:include} -I${zlib:include} -I${readline:include}/readline -I${expat:include}
[part]
recipe = minitage.recipe.cmmi
url = http://www.python.org/ftp/python/2.5.2/Python-2.5.2.tar.bz2
md5sum = afb5451049eda91fbde10bd5a4b7fadc
pre-configure-hook  = ${buildout:hooks-directory}/setenv.py:getpythonenv
patches = ${buildout:directory}/patches/python-without-tk.diff
# theaded python is bordy on freebsd
configure-options =
    --enable-shared --with-fpectl --with-bz2 --with-ncurses --with-readline --with-zlib
    $(bash -c "if [[ $(uname) == 'Darwin' ]];then echo '--enable-toolbox-glue';fi")
    --enable-ipv6
    --with-libs="${flags:ldflags} $(bash -c "if [[ $(uname) == 'Darwin' ]];then echo '-mmacosx-version-min=10.5.0';fi")"

[ez]
site-packages=${python:location}/lib/${python:name}/site-packages
python = python2.5
recipe = minitage.recipe.du
url = http://pypi.python.org/packages/source/s/setuptools/setuptools-0.6c8.tar.gz#md5=0e9bbe1466f3ee29588cc09d3211a010
includes =
    ${python:location}/include
libraries =
    ${python:location}/lib
rpath =
    ${ez:libraries} 
